.my-form
  = form_for([article, article.comments.build]) do |f|
    .form-group
      = f.label :body
      = f.text_area :body, :class => "form-control input-sm", :rows => 3

    = f.submit nil, :class => "my-submit"
