// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_explanation {
  @extend .alert, .alert-danger;
}

.my-nav-bar{
  @extend .navbar, .navbar-default, .navbar-fixed-top;
}

.navbar-brand{
  padding-top: 5px;
  padding-bottom: 5px;
}

.alert-alert{
  @extend .alert, .alert-danger;
}

.alert-notice{
  @extend .alert, .alert-success;
}

body{
  padding-top: 50px;
}

.my-container-fluid {
  @extend .container-fluid;
  padding: 1%;
}

.my-table {
  @extend .table, .table-striped, .table-responsive, .table-hover, .table-condensed;
  th{
    @extend .text-capitalize;
  }
  td {
  }
}

.my-form {
  padding: 1%;
  border: 1px solid gray;
}

.my-submit {
  @extend .btn, .btn-primary, .btn-lg;
}


.article {
  @extend .text-justify;
  .heading{
    @extend .text-capitalize;
  }
  .body{ 
    @extend .my-form;
  }
}